<!DOCTYPE html>
<html>
<head>
    <title>Image Processing</title>
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
</head>
<body class="bg-gray-700 text-white">
    <div class=" font-bold text-4xl text-center py-2 border-b-2">
        Terrain Detection.
    </div>
    <br />
    <div class="flex justify-center mt-10">
        <div class=" border-2 p-6 px-8 rounded-md flex flex-col gap-5 w-fit">
            <p class="text-center text-xl font-semibold">Upload an Image...</p>
            <input type="file" class="" id="imageUpload" accept="image/*" />
            <button class="bg-gray-900 hover:bg-gray-800 py-2 rounded-md" id="uploadButton">Upload</button>
        </div>
    </div>
    <div id="result"></div>
    <script>
        const imageUpload = document.getElementById('imageUpload');
        const uploadButton = document.getElementById('uploadButton');
        const resultDiv = document.getElementById('result');

        uploadButton.addEventListener('click', () => {
            const file = imageUpload.files[0];
            const formData = new FormData();
            formData.append('image_file', file);

            fetch('/process-image', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                resultDiv.textContent = data.message;
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
